---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {skills.map(({ name }) => <li>{name}</li>)}
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  li {
    font-size: 0.8rem;
    color: #333;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px; 
    background-color: #eee;
  }
</style>
